body{
    text-align: center;
    background-color: rgb(211, 174, 80);
}
button{
    margin-top: 2%;
}

.calculadora{
    background-color: rgb(233, 212, 205);
    margin:0 30%;
    padding:0 2% 2% 2%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}