body{
    background-color: darkcyan;
    text-align: center;
}

h1{
    color: beige;
}

.container{
    background-color: beige;
    border-radius: 2em;
    padding:2em;
    text-align: center;
    margin: 0 30%;
}

.calculadora{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 2%;
}

.botoes{
    display: flex;
    justify-content: center;
}